stix2

# Deals with the following error
#     NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+,
#     currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'.
#     See: https://github.com/urllib3/urllib3/issues/3020
urllib3==1.26.6
